@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 31% 94%;
        --foreground: 219 26% 48%;
        --muted: 206 31% 87%;
        --muted-foreground: 215 30% 60%;
        --popover: 207 30% 94%;
        --popover-foreground: 219 26% 48%;
        --border: 200 5% 85%;
        --input: 150 4% 89%;
        --card: 210 37% 97%;
        --card-foreground: 219 27% 47%;
        --accent: 168 7% 81%;
        --accent-foreground-700: 180 7% 34%;
        --ring: 165 7% 60%;

        --primary-min: 204 70% 54%;
        --primary: 208 77% 32%;
        --primary-max: 210 61% 24%;
        --primary-foreground: 210 75% 94%;

        --secondary-min: 180 6% 44%;
        --secondary: 180 7% 34%;
        --secondary-max: 180 6% 23%;
        --secondary-foreground: 160 6% 90%;

        --destructive-min: 8 69% 60%;
        --destructive: 8 62% 42%;
        --destructive-max: 8 52% 31%;
        --destructive-foreground: 5 80% 94%;

        --radius: 0.25rem;

        --cinza: 40 2.38% 49.41%;
        --cloud-dancer: 42.86 18.92% 92.75%;
        --branco-gelo: 44 18.52% 84.12%;
        --azul-neon: 228 100% 50%;
        --chumbo: 214.29 3.41% 40.2%;
        --cinza-carvao: 210 10.81% 14.51%;

        --jump-animation: jump ease-in-out infinite;

    }

    @keyframes jump {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-1rem);
        }
    }

    .swiper-container .swiper-wrapper{
        transition-timing-function: linear !important;
    }

    .swiper-wrapper{
        align-items: stretch !important;
    }

    .swiper-slide{
        height: auto !important;
    }

    .card-scroll::-webkit-scrollbar {
        width: 4px;
    }

    .card-scroll::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 999px;
        margin-block: 4px;
    }

    .card-scroll::-webkit-scrollbar-thumb {
        background: linear-gradient(
            to bottom,
             rgba(255, 255, 255, 0.7),
             rgba(255, 255, 255, 0.2)
        );
        border-radius: 999px;
    }

    .card-scroll::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.5)
        );
    }

}



@layer base {
    * {
        @apply border-border;
    }

    /* body {
        @apply bg-background text-foreground;
    } */
}